html,
body {
  height: 100%;
}
:root {
  --color-bgmenu: #171483;
  --color-red: #ff0000;
  --color-white: #fff;
}

body {
  background-image: radial-gradient(
    circle at 120.71% 50%,
    #cb4afa 0,
    #933bd8 16.67%,
    #5a28b0 33.33%,
    #171483 50%,
    #000057 66.67%,
    #000031 83.33%,
    #000015 100%
  );
  margin: 0;
  padding: 0;
}
.row {
  margin-top: 5%;
}
.container_menu {
  background-color: #000057;
}

.h5,
p,
.title_perfil_location {
  color: #fff;
}
a {
  text-decoration: none;
  color: #000015;
}
a:hover {
  color: #171483;
  font-size: 18px;
  transition: 0.8s;
}
.links {
  list-style: none;
}
.container_lista_episodios {
  color: #fff;
}
.link_profile {
  color: #fff;
}
.link_profile:hover {
  font-size: 12px;
  color: #cb4afa;
}
.container_Erro {
  display: flex;
}
.container_Erro img {
  padding: 1em;
}
.container_Erro p {
  color: var(--color-red);
}
.button_pagination {
  display: flex;
  justify-content: center;
}
.button_pagination button {
  margin-left: 10px;
  background-color: #000031;
  color: var(--color-white);
  border-radius: 20px;
  margin-bottom: 20px;
  border: solid 2px var(--color-white);
}
.button_pagination button:hover {
  background-color: #171483;
  transition: 0.8s;
}
