{% extends "layout.html"%} {% block content %}
<table class="table" id="episodes_list">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome do Episodio</th>
      <th scope="col">Data de Lançamento</th>
      <th scope="col">Código</th>
      <th scope="col" class="ocultar_elemento">
        Link página de perfil do Episódio
      </th>
    </tr>
  </thead>
  <tbody>
    {% for episode in episodes %}
    <tr>
      <th scope="row">{{episode.id}}</th>
      <td>
        {{episode.name}}<a href="/episode/{{episode.id}}">
          <img
            src="{{ url_for('static', filename='images/visao.png') }}"
            width="32"
            height="32"
            alt="icone de visualização"
            title="ver perfil do episodio"
            class="view_icon"
        /></a>
      </td>
      <td>{{episode.air_date}}</td>
      <td>{{episode.episode}}</td>
      <td class="ocultar_elemento">
        <a href="/episode/{{episode.id}}" class="btn btn-primary"
          >Ver Perfil do Episodio</a
        >
      </td>
    </tr>
    {% endfor%}
  </tbody>
</table>

<div class="button_pagination">
  {% for page in range(1, 3 + 1) %}
  <a href="/episodes/page/{{ page }}" class="button">{{ page }}</a>
  {% endfor %}
</div>

{% endblock %}
