{% extends "layout.html"%} {% block content %}
<div class="row">
  <div class="col-sm-3 col-6">
    <img
      src="{{profile.image}}"
      alt="{{profile.name}}"
      class="img-fluid img-thumbnail"
    />
  </div>

  <div class="col-sm-3 col-6">
    <h3 class="h5">{{profile.name}}</h3>
    <p>Espécie: "{{profile.species}}"</p>
    <p>Gênero: "{{profile.gender}}"</p>
    <a href="/location/{{location_id}}" class="link_profile">
      origem: "{{profile.origin.name}}"</a
    >
    <br />
    <a href="/location/{{location_id}}" class="link_profile"
      >Localização:"{{profile.location.name}}"</a
    >
    <div class="container_lista_episodios">
      <p>Episodios que {{profile.name}} aparece:</p>
      <ul>
        {% for episode in episodes_found %}
        <a href="/episode/{{episode.id}}" class="link_profile">
          <li>{{ episode.name }} - {{ episode.episode }}</li>
        </a>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
